.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.number {
    width: 10px;
    font-size: 12px;

}
